[2019-05-06 19:29] ajzuse opened #3 "Doubt about why is the correct path"
Hi, I implementing a login flow in my application, using the clean architecture, but I have a doubt about which location I put the facebook login logic.

I'm using the flutter_facebook_login package, and I have doubts if I should put the login logic in the controller, presenter or repository.

My basic logic is that:
[code]

I think it's a simple question, but I was pretty confused about it.

Than

[2019-05-06 20:19] ShadyBoukhary commented on #3
Hello, thanks for asking.

This logic should go inside a `repository` under the `Data` module. The result is then returned to the `UseCase` that called this method of the `repository`.

I recommend throwing an error if the final `result` is an error instead of returning a result object. Since `Domain` is not supposed to know about the implementation, returning a `FacebookLoginResult` type would be

[2019-05-06 20:35] ajzuse commented on #3
Thanks for the answer!

That's what I'd like to know, just to be clearer and not end up putting the code in the wrong places.

Many thanks, it was very helpful.

Have a great day!

[2019-05-06 20:36] #3 closed

[2019-05-23 03:30] nielsezeka opened #4 "Flow of control question"
Hello! It's a great work.

I try to implement the clean architecture follow your repo.
But i have a little confuse about the data flow. I checked your comment in another question and now the flow is
UI -> **Controller -> Presenter -> UseCase** -> Repository

But from Uncle Bob original design : https://blog.cleancoder.com/uncle-bob/images/2012-08-13-the-clean-architecture/CleanArchitecture.jpg
The

[2019-05-24 00:36] ShadyBoukhary commented on #4
@nielsezeka thanks for asking!

To begin, you're right about Uncle Bob's original design _i.e._ the Controller communicating directly with the Usecase.

From his blog.

Allow me to preface this by saying that Uncle Bob's architectural design is very abstract and can be adapted and tuned depending on the language and the platform. He says that the picture is schematic and you do not necessarily hav

[2019-05-31 00:45] #4 closed

[2019-07-02 03:47] aromal-sasidharan opened #5 "Finished with error: FileSystemException: Cannot open file, path = '/Volumes/../flutter_clean_architecture/example/ios/Runner.xcodeproj/project.pbxproj' (OS Error: No such file or directory, errno = 2)"
I am not able to run the project because there is no xcode project in it. What i found was Generated.config

Please help!.

[2019-07-02 03:51] ShadyBoukhary commented on #5
Hello,

This is a package, not an application. It's a collection of classes that you can use in your own application. It does not have a main method and therefore cannot be run as an application.

To use it, just add it as a dependency in your `pubspec.yaml` as follows:

[code]

[2019-07-02 06:34] aromal-sasidharan commented on #5
Ok, understood. Actually I was trying to run the example in the folder. But it has no iOS or Android source cod. Those folders just has the config files. Please help!

[2019-07-02 22:28] ShadyBoukhary commented on #5
My apologies, some files were missing. I fixed it in #6 pull request. Use the latest version of the package and the missing files should be there.

[code]
Let me know if that works for you.

[2019-07-06 22:44] #5 closed

[2019-07-10 11:02] massimoliani opened #7 "Flutter web compatibility"
I'm new to flutter development and generally to dart and web development.
I read the introduction of your component and it look really nice as basic flutter development can lead to caos!

I would like to know if the framework can be used on flutter web? For web app development?
Or if is planned to be ported?

Thanks.

[2019-07-15 22:52] ShadyBoukhary commented on #7
Currently, it only works with mobile Flutter applications (iOS and Android) because some classes extend `StatefulWidget`.

As for porting it to web, it's possible in the future depending on Flutter for Web's popularity.

[2019-07-30 00:55] #7 closed

[2019-08-26 11:20] PoojaB26 opened #8 "Update provider and rxdart package versions"
Can we update the packages => provider and rxdart because it gives the following errors since I am working with the newest versions of both.
[code]
Is there any dependency issue if the two packages are updated to their latest versions?
The maintenance of your [package](https://pub.dev/packages/flutter_clean_architecture#-analysis-tab-) is also affected.

[2019-08-26 14:57] xsahil03x commented on #8
Hey you can try overriding both of these dependencies until he updates the package.
After overriding every other package in you app will use the overridden dependency rather than the one specified in its source code.

You can go through the last part of this documentation :
https://dart.dev/tools/pub/dependencies

[2019-08-28 22:13] Tinhorn opened #11 "README typo"
In the Example Code Section of the README.md
In the CounterPage  class, the CounterState is being constructed with CounterState.

I'm pretty sure it is CounterController .

[2019-09-18 23:57] ShadyBoukhary commented on #11
Merged #12

[2019-09-18 23:57] #11 closed

[2019-12-11 06:19] ccfiel opened #15 "Shared controller and presenter"
@ShadyBoukhary  Is it possible to have shared controller and presenter that can be shared to  multiple views and these views have also there own controller and presenter?

![Shared controller and presenter (2)](https://user-images.githubusercontent.com/1788360/70596451-eaada080-1c20-11ea-8304-079e87f3e085.png)

[2019-12-11 19:41] ShadyBoukhary commented on #15
Hi,

It is possible. [Here](https://github.com/ShadyBoukhary/Axion-Technologies-HnH/tree/development/lib/app/components/hhDrawer) is an example.

Thanks

[2019-12-11 19:41] #15 closed

[2019-12-11 23:54] ccfiel commented on #15
thanks!

[2019-12-12 02:10] ccfiel opened #16 "To do app using the package"
We made a sample todo https://github.com/bailabs/todo base on your package. Did we do it correctly? any comments? @ShadyBoukhary  :)

[2019-12-12 04:05] ShadyBoukhary commented on #16
Thanks for your interest in the package. Your example looks good. I do have a couple of notes though.

[Here](https://github.com/bailabs/todo/blob/master/lib/app/pages/home/home_view.dart#L44), instead of `callback: () => controller.retrieveData(),`, you can write `callback: controller.retrieveData,`. You don't need to create another function call.

In Domain, if your `UseCase` does not need to re

[2019-12-12 06:24] ccfiel commented on #16
Thank you!!! :)

[2019-12-12 08:17] ccfiel commented on #16
@ShadyBoukhary we have made the modification https://github.com/bailabs/todo is this what you mean? :)

[2019-12-12 08:53] ShadyBoukhary commented on #16
@ccfiel Yes! Looks good now!

[2019-12-12 08:55] ccfiel commented on #16
wow! @ShadyBoukhary ! :) thank you very much for your package! :+1:

[2019-12-12 08:55] #16 closed

[2019-12-13 03:03] ccfiel opened #17 "Error: Getter not found: 'suspending'."
@ShadyBoukhary  when running flutter run the package has an error.
[code]

when I tried to look in the flutter documentation there no suspending state only detached, paused, inactive and resumed
https://api.flutter.dev/flutter/dart-ui/AppLifecycleState-class.html

[2019-12-13 03:19] ShadyBoukhary commented on #17
Just pushed a bug fix. Thanks for letting me know.

[2019-12-13 03:25] ccfiel commented on #17
@ShadyBoukhary Thanks! :)

[2019-12-13 03:25] #17 closed

[2019-12-13 03:33] ShadyBoukhary commented on #17
@ccfiel please use the latest version `1.0.8` of the package.

[2019-12-13 03:48] ShadyBoukhary opened #18 "Use Provider package to improve performance of View-Controller interactions."
## Improve Performance Using Provider Package
* Inject Controller into View using Provider
* Abstract `Provider.of` inside the View

[2019-12-13 09:05] ccfiel commented on #17
ok thanks again :)

[2019-12-15 15:40] arrrrny commented on #18
This would be great

[2019-12-15 20:38] ShadyBoukhary opened #19 "Feature: Background thread UseCases"
## Overview

It would be useful to implement a UseCase that runs on a background thread. Perhaps this task would comprised of complex mathematical operations that are not suitable to be executed on the main thread.

## Methods
The most straight forward way to implement this is to use Dart's Isolate class and subclass `UseCase`.
An abstraction over the isolate would be immensely useful, as it seems

[2019-12-17 10:40] iRaySpace opened #22 "clarification: globalKey usage"
Currently, I am using `flutter_clean_architecture` for our mobile app. We have a scenario where we have to use a `SnackBar` to display error under `controller.initListeners()`.

Our current implementation under `controller.initListeners()` is as follow:
[code]

In order to use the `SnackBar`, we temporarily set `State<StatefulWidget>` to `ScaffoldState`.

Are there any other scenarios where `globa

[2019-12-17 13:51] rafaelcmm commented on #22
```Are there any other scenarios where globalKey is used aside from it is GlobalKey for Scaffold?```

I think the globalKey is used mostly for that. I will share my implementation of the snackbar that works successfully

[code]

[2019-12-17 16:33] iRaySpace commented on #22
Hello @rafaelcmm
Thank you for pointing this out. I'll implement this one.

[2019-12-17 16:33] #22 closed

[2019-12-17 21:35] #19 closed

[2019-12-17 21:35] ShadyBoukhary commented on #19
Merged #20

[2019-12-17 23:49] ccfiel commented on #18
wow this could be great! :) @ShadyBoukhary

[2019-12-19 17:52] rafaelcmm opened #23 "Update rxdart to 0.23 and run flutter format to improve package health"
**Describe the solution you'd like**
Update rxdart to improve usecase, since rxdart removed `Observable` class since 0.23.

**Describe alternatives you've considered**
Update packages and start use rxdart extensions

[2019-12-19 17:53] rafaelcmm commented on #23
@ShadyBoukhary if it's okay to you, I will start working on this issue

[2019-12-19 21:49] ShadyBoukhary commented on #23
@rafaelcmm  I was planning on doing this soon but you can go ahead :)

[2019-12-19 21:51] rafaelcmm commented on #23
@ShadyBoukhary already done It. Please check the PR

[2019-12-19 22:20] ShadyBoukhary commented on #16
@ccfiel Have you considered pushing your example to https://github.com/brianegan/flutter_architecture_samples ? This might be helpful as this repository maintains a collection of different Flutter architectural samples. Your ToDo app would be fitting there.

[2019-12-20 00:59] ccfiel commented on #16
@ShadyBoukhary I will submit this to them :)

[2019-12-20 07:25] saravananmnm opened #25 "how we can handle, if it is multiple usecase called?"
in HomePresenter have 3 methods declaration like  Function getNext; Function getDone : Function getError;
in case presenter have more than one usecase call, what we going todo? are we going to declare multiple methods like above mentioned.
Kindly explain about that.

[2019-12-20 08:05] ShadyBoukhary commented on #25
@saravananmnm  It depends on what these different usecases are used for. If a presenter has multiple usecases, and each usecase does something different, then you would want to use different methods to handle the events of every usecase.

So naturally you would need to declare multiple methods.

However, if all these usecases are somehow related and can be handled by 1 function (rare)  then you co

[2019-12-20 08:51] saravananmnm commented on #25
@ShadyBoukhary Thanks for your reply.
In android i have used mvp clean architecture previously.
So here i cannot achieve those like mvp pattern.Is there any solution for that.?

In Flutter i have used kiwi for dependency injunction, So can i use that same here.

Android usecase structure
`public abstract class UseCase<T, Params> {

    private final ThreadExecutor mExecutor;
    private final Post

[2019-12-20 22:09] ShadyBoukhary commented on #25
Hey @saravananmnm, I'm not entirely sure what you're trying to achieve.

What is it that you can do in MVP that you're unable to do with this package? The UseCase structure in Android is very similar.

[2019-12-20 22:12] ShadyBoukhary commented on #25
Perhaps [this](https://github.com/ShadyBoukhary/Axion-Technologies-HnH/tree/development/lib/app/pages/home) is what you're trying to do @saravananmnm ?

[2019-12-22 16:58] ccfiel opened #26 "How to implement unit test for use cases"
I want to create unit test for use case of the sample todo app. Any idea how? @ShadyBoukhary
[code]

[2019-12-22 21:39] ShadyBoukhary commented on #26
Hi,

Yes, in your test, you can create and execute the usecase. Create an Observer for the usecase. Inside the observer functions, you can write all your `expect` statements. You can mock the repository dependencies using the Mockito library.

[2019-12-23 01:22] ccfiel commented on #26
@ShadyBoukhary  Thanks I will try to create one :)

[2019-12-24 01:44] ccfiel commented on #26
Is this good? :) @ShadyBoukhary

test script

[code]

mock repository

[code]

[2019-12-24 22:05] ShadyBoukhary commented on #26
This works @ccfiel !

[2019-12-24 22:05] #26 closed

[2019-12-25 01:04] ccfiel commented on #26
@ShadyBoukhary thanks!

[2019-12-26 10:20] rafaelcmm commented on #23
@ShadyBoukhary these changes are already on development branch. What is left to release a breaking version?

[2019-12-26 23:17] ShadyBoukhary commented on #23
@rafaelcmm I'm going to publish a build today.

[2019-12-26 23:26] ShadyBoukhary commented on #23
@rafaelcmm now available.

[2019-12-26 23:26] #23 closed

[2019-12-27 00:36] ccfiel commented on #23
I tried to upgrade but the stream has an error ``` too many positional arguments: 0 expected, but 1 found.``` When I try to expect  it will go to dart:async library and stream should not have a parameters. Any idea how to resolve this issue? :) @ShadyBoukhary
[code]

[2019-12-27 00:39] ShadyBoukhary commented on #23
Hi @ccfiel,

Just return `controller.stream` instead of `Stream(controller.stream)`. That should work!

[2019-12-27 00:41] ccfiel commented on #23
Ok thanks! I made a PR for README https://github.com/ShadyBoukhary/flutter_clean_architecture/pull/27

[2019-12-27 01:01] ccfiel commented on #26
@ShadyBoukhary test is not working anymore. I tried to change Observer to Stream
[code]
to
[code]
but I got error
[code]
any idea how to resolve this? :)

[2019-12-27 01:15] ccfiel commented on #26
@ShadyBoukhary weird I just change back to observer the test pass. Disregard the issue. Test is now working again.

[2019-12-27 01:22] ShadyBoukhary commented on #26
@ccfiel You shouldn't change it to `Stream`. The `Observer` class is not a part of RxDart. It is a part of this library's API. It's used as a listener to the streams. That's why it broke when changed from Observer to Stream. The class that was changed to `Stream` was RxDart's `Observable` class.

[2019-12-27 01:25] ccfiel commented on #18
@ShadyBoukhary any idea when will this be in dev branch? :) I am eager to be the tester :)

[2019-12-27 01:32] ShadyBoukhary commented on #18
@ccfiel soon. I'm experimenting with different ways this could be implemented. I might push something to dev tonight!

[2019-12-27 01:36] ccfiel commented on #18
@ShadyBoukhary thanks for the update!

[2019-12-27 08:01] iRaySpace opened #28 "Controller onResumed: assertion failed context != null"
Good day!

We are incorporating passcode input into our mobile application. However, we wanted to have a protected page where `the user paused and goes back to the application (onResumed triggered)` the controller will navigate to pin route.

The current code implementation goes like this.
[code]

However, when we do `the user paused and goes back to the application` the second time, we encounter

[2019-12-27 08:19] ShadyBoukhary commented on #28
Hi @iRaySpace,

Thanks for reaching out. Could you post the code in your view's `build()` method?

Thanks,

Shady

[2019-12-27 10:17] iRaySpace commented on #28
Hello @ShadyBoukhary,

Here is the code base used in `build()`

[code]

Thanks,

Ivan

[2019-12-27 10:29] ShadyBoukhary commented on #28
Thanks @iRaySpace,

I will try to replicate the issue.

[2019-12-27 10:52] ShadyBoukhary commented on #28
@iRaySpace,

I could not replicate the issue on my end.

View
[code]

And in the Controller
[code]

I tried pausing and resuming the application multiple times. `getContext()` never threw an exception as the globalKey was always valid.

I'm going to need more information to resolve this issue.  Please answer the following questions.

If possible, please post your View and Controller code in full a

[2019-12-27 11:19] iRaySpace commented on #28
Hello @ShadyBoukhary

What version of the package are you using?
`flutter_clean_architecture: ^1.0.8`
What version of Flutter are you using?
`Flutter (Channel stable, v1.12.13+hotfix.5, on Linux, locale en_US.UTF-8)`
Where did you run the application (iOS simulator, Android simulator, device)
`Android device`
What OS version is the simulator/device running?
`8.1.0`

**Error GIF**
![GlobalKey Error

[2019-12-27 13:46] ShadyBoukhary commented on #28
@iRaySpace,

Thanks for bringing this to my attention. The bug has been fixed. Please use the latest version of the package `2.0.2`.

Unfortunately, version `2.0.0` introduced some changes that will force you to refactor your `Domain`, as RxDart deprecated their `Observable` class and used extensions of `Stream`. Please refer to the README on how to create UseCases. The changes are minor. I will b

[2019-12-27 13:46] #28 closed

[2019-12-29 00:46] emrahcetiner commented on #18
is there any update on this?

[2019-12-29 03:22] ShadyBoukhary commented on #18
@ccfiel @emrahcetiner,
Please check pull request #30
I've pushed some working code with the provider package. This is a work in progress so i might make some changes later.

Thanks

[2019-12-29 07:03] ccfiel commented on #18
@ShadyBoukhary wow! thanks a lot. I will check :)

[2020-01-01 23:04] #25 closed

[2020-01-09 01:46] ShadyBoukhary commented on #18
Pull request #30 merged.

[2020-01-09 01:46] #18 closed

[2020-01-09 03:08] ccfiel opened #31 "controller.isLoading is now undefined"
In version 3.0.1 controller.isLoading is now undefined. What would be the replacement for this? 😊 @ShadyBoukhary

[code]

[2020-01-11 00:17] ShadyBoukhary commented on #31
Hey,

I removed this in 3.0.0 because it wasn't necessary. You can just define your own `isLoading` variable in your controller.

[2020-01-11 04:50] ccfiel commented on #31
Hello @ShadyBoukhary :)

I added isLoaded in the controller but even you if I set the value to false in _presenter.getCategoryOnNext the new value will not update to the view.

View
[code]

Controller

[code]

[2020-01-11 05:02] ShadyBoukhary commented on #31
@ccfiel,

You need to call `refreshUI()` after setting `isLoading` to `false`.

[2020-01-11 05:06] ccfiel commented on #31
@ShadyBoukhary
Thanks! I will update to version 3.0.1 https://github.com/ShadyBoukhary/Axion-Technologies-HnH ang send a PR :)

[2020-01-11 05:06] #31 closed

[2020-01-15 13:07] iRaySpace opened #33 "Controller onResumed: assertion failed context != null"
When `onResumed()` is triggered after using `Navigator.of(getContext().pushNamed(...)`, the `_globalKey.currentContext` is `null.

[code]

**Expected behavior**
Should be that after route navigation, `getContext()` should be triggered.

**GIF**
![currentContext Problem](https://user-images.githubusercontent.com/5818544/72436100-a17ddd00-37da-11ea-9169-7c7a1c7df96b.gif)

**Environment**
 - Flutter

[2020-01-15 21:02] ShadyBoukhary commented on #33
@iRaySpace  Does #34 fix this issue?

[2020-01-16 03:41] iRaySpace commented on #33
Hello @ShadyBoukhary Yes.

[2020-01-16 03:41] #33 closed

[2020-01-22 14:00] kleberapsilva opened #35 "Create CLI"
Could we create a CLI like Angular to facilitate the creation of files?

[2020-01-22 15:07] ShadyBoukhary commented on #35
@kleberapsilva yes, that's currently in my agenda. Stay on the lookout for PRs.

[2020-02-06 10:58] cosinus84 opened #36 "Using and placement of Server Auth/Firebase Auth"
I am implementing clean architecture and I am not sure where all fits in. It seems to me that you got it all :) about this clean(gonoid) architecture.

For auth I have two possibilities:

1. Server Auth.
After use case login I get a token, with this token I will do all the http request that need authorization. Token is received back from usecase->presenter->controller
   a) Should this token be st

[2020-02-06 17:56] ShadyBoukhary commented on #36
I recommend option 2.

#### Concerning option 1,

Tokens or any http related data should remain in the data layer and never cross into the UI layer.

Yes, you can a base controller to handle such app-wide events. There are several ways to do this:
1. Create a base Controller class with a method that navigates back to the login page and have all controllers inherit from it.
2. Use a base Controller

[2020-02-06 20:43] cosinus84 commented on #36
Thank you very much for your answer, helps me a lot, I highly appreciate and I hope others will find this useful.
All your explanations were very clear but remained something regarding question 1.

Concerning option 1,
After use case login I get a token, with this token I will do all the http request that need authorization. Token is received back from usecase->presenter->controller

To understand

[2020-02-06 21:39] ShadyBoukhary commented on #36
Hi @cosinus84,

Exactly, the repository in the data layer should handle the token. `True/false` are enough to indicate to the UI whether the user is signed in.

This isn't possible with the way the package is set up. Usecases should fulfill a requirement of your software. Perhaps if you provided a specific case I can help you with how to set it up.

That depends on _how_ many results you're expect

[2020-02-07 03:06] #36 closed

[2020-02-07 10:25] cosinus84 opened #37 "Extending an base usecase, complexity vs consistency"
Because you became a source of inspiration :), I looked over you code from https://github.com/ShadyBoukhary/Axion-Technologies-HnH (development branch) and I saw that you don't extends a base use case. Do you think is really necessary to extend a base usecase witch adds more complexity? For returning a bool to have to involve streams? (like in login case) https://github.com/ShadyBoukhary/flutter_c

[2020-02-07 17:23] ShadyBoukhary commented on #37
Hi @cosinus84,

The code there does extend a base usecase. The base usecase is provided by the package just like `Controller` class.

I realize that there are occasions where using stream is an overkill. This is something I've been thinking about in order to reduce the complexity of the package. In the future, i want to do some internal restructuring and provide more options that allow users to ch

[2020-02-11 18:13] cosinus84 commented on #37
Hello, before we close this can you add something about validation in documentation or example. After some digging and 1000 browser tabs, I resumed that each layer need to add some validation. For example the presentation(view) can add a validation a field value being only numeric. When we build the Request object to send to usecase, the Request has the amount field type as double. In the use case

[2020-02-11 22:27] ShadyBoukhary commented on #37
If you're talking about validating user input data, then that should be done in the presentation layer. You can enforce type-safety by simply using explicit types instead of `dynamic`.

[2020-02-12 08:12] cosinus84 commented on #37
Right, so there we have presentation user input data validation, and then in the use case the business logic validation of the request (or some domain service for validation that is needed for more  usecases)

[2020-02-12 16:36] ShadyBoukhary commented on #37
Yes, depending on the usecase, there might be some validation there. However, this is the responsibility of the user of the package to add as different usecases would have different requirements.

[2020-03-01 03:37] #37 closed

[2020-06-07 18:32] tunt-04098 opened #38 "Problem with AutomaticKeepAliveClientMixin"
Please tell me how to keep state of view in a tabbar or navigation bottom bar, thank you. I try to implement with AutomaticKeepAliveClientMixin but it show error:

'To return an empty space that causes the building widget to fill available room, return "Container()". To return an empty space that takes as little room as possible, return "Container(width: 0.0, height: 0.0)".'

[2020-06-07 21:05] ShadyBoukhary commented on #38
This seems like an issue with your UI code rather than the library. Where are you using the clean architecture? Perhaps share some code.

[2020-06-08 05:03] tunt-04098 commented on #38
Sure, this is my code, the page use on TabBarView

class TheFirstPage extends View {
  final dynamic data;

  TheFirstPage({Key key, @required this.data}) : super(key: key);

  @override
  State<StatefulWidget> createState() => _TheFirstPagePageView(data);
}

// error
class _TheFirstPageView extends ViewState<TheFirstPage, TheFirstController>
with AutomaticKeepAliveClientMixin<TheFirstPage> {
  _T

[2020-06-08 08:57] ShadyBoukhary commented on #38
You're actually supposed to be using `buildPage()` instead of `build()` inside your ViewState as stated in the documentation. So just replace it and it should work. The library marks the `build()` function as nonvirtual, that means you should not be overriding it because it is used internally.

Use `buildPage()` for your UI such as
[code]

[2020-06-08 10:07] tunt-04098 commented on #38
i try it but it show the same

![image](https://user-images.githubusercontent.com/8032493/84018068-cfda9f80-a9a9-11ea-9e7e-aa95173cfa67.png)

i check on view.dart it actually wont call the super.build(context) like this sample https://github.com/diegoveloper/flutter-samples/blob/aa43501a8ee8799024a3422e39842329d20482c5/lib/persistent_tabbar/page2.dart

@override
  @nonVirtual
  Widget build(BuildC

[2020-06-08 15:21] ShadyBoukhary commented on #38
What happens if you add
[code]

Can you check if either build or buildPage gets called?

[2020-06-08 16:02] tunt-04098 commented on #38
I try to call super.build(context) on the build function of the Class that extends ViewState but it not work.

[2020-06-08 16:16] ShadyBoukhary commented on #38
Okay, I will make a small app and test this on my end.

[2020-06-09 07:12] tunt-04098 commented on #38
Any news, are you getting an error like me?

[2020-06-09 07:28] ShadyBoukhary commented on #38
I am looking into it as we speak. Will get back to you shortly.

[2020-06-09 08:19] ShadyBoukhary commented on #38
@tunt-04098,

I was able to replicate the issue on my end. I am reluctant to call this a bug, as this is an unfortunate side effect of how `Dart` works.

`Mixins` create interfaces on top of the base class. That means, if you were to extend a class with a method called `foo()` and mixin with a class that also has a method called `foo()`, only the Mixin's `foo()` method will be recognized, as the m

[2020-06-09 17:07] tunt-04098 commented on #38
Thank you for your help wish you many good things!

[2020-06-09 21:41] #38 closed

[2020-06-10 08:41] afidosstar opened #41 "More example for background task"
**Is your feature request related to a problem? Please describe.**
Thank you for the work accomplished. It is a precious help. But I have a problem with your example background task use case.
Put questions are how do we get the answer and how do we send the parameters from the presenter?
How can I use ?

[2020-06-11 03:21] ShadyBoukhary commented on #41
Hello,

You send parameters to the usecase just like any other usecase: during the `execute` call.
For example inside the presenter:

[code]

Example BackgroundUseCase:

[code]

Above, the result is sent back through
[code]

[2020-06-11 19:53] afidosstar commented on #41
Thank you.

[2020-06-11 19:53] #41 closed

[2020-06-23 11:26] m-vellinga opened #42 "[Question] Flow of presentation layer"
First of thanks for creating this package! It gave us a lot of food for thought about architecture.

I have some remarks and I am really interested in your point of view on the matter. I seem to have a different interpretation of the View Controller Presenter flow based of your package.

To quote some parts from the original blog by Uncle Bob about the "presentation" layer:

https://blog.cleancode

[2020-06-23 18:42] ShadyBoukhary commented on #42
@m-vellinga

Thank you for your interest in the package!

It does indeed seem that my package's flow of control differs slightly from what Uncle Bob's intention was. I was aware of this difference when I created the package and maintain that I have done it for what I believe is a good reason.

Even though that, technically speaking, the original flow of control, `View => Controller => Usecase => P

[2020-06-25 05:55] sanjay4one opened #43 "[enhancement] Controller's refreshUI() function when called reloads the whole widget tree."
First of all I would like to thank you for creating such a nice plugin. It really helped me to implement a good architecture in my projects.

It seems that this plugin uses `Provider `for the state management of the application. But one thing I have noticed that, when I call the `refreshUI `function from the `Controller`, the whole widget tree gets reloaded. I have used `BLoC `pattern earlier wher

[2020-06-25 09:30] m-vellinga commented on #42
Thanks for the quick response!

A very elaborate and clear answer on the choices you made. I think this information would be a great addition to the readme. Especially the last part starting at `I have thought a lot [...]`

Puts a lot into perspective for me about the right approach in using the package and architecture to it's full potential.

[2020-06-25 16:14] ShadyBoukhary commented on #43
This is an unfortunate side effect of allowing the controller to modify the entire widget tree, as the internal implementation wraps the entire View with a ChangeNotifier. Calling `refreshUI()` will rebuild the View.

You can achieve what you want by either
1. Making stateless/stateful widgets in the tree and sharing the same controller as provided in the Readme. You can use ChangeNotifierProvider

[2020-06-26 04:51] sanjay4one commented on #43
@ShadyBoukhary Thank you for prompt response. I really appreciate it.

As you suggested, by making a smaller View/Controller pattern and controlling it from the main controller will do the purpose but for time being I will keep it as it is.

Looking forward for the feature to update specific widgets using the plugin.

Thanks again for providing such a great plugin.

[2020-06-26 19:35] #42 closed

[2020-06-30 12:41] WilliamCunhaCardoso commented on #35
For now, you can use this option: https://github.com/pbissonho/fast.cli

[2020-06-30 12:53] WilliamCunhaCardoso commented on #43
Maybe consider using [get](https://pub.dev/packages/get) as it also provides code (Controller to View) and update specific components with .obs and is not limited as [ChangeNotifier](https://api.flutter.dev/flutter/foundation/ChangeNotifier-class.html) to small number of listeners

[2020-07-03 17:53] kleberapsilva commented on #35
Você já chegou a configurar os templates utilizando o clean?

[2020-07-03 18:10] WilliamCunhaCardoso commented on #35
No momento, não.

No projeto que usamos este pacote utilizamos scripts bash.

Em outros que são meus utilizo o slidy do modular.

Citei esse porque conheci na comunidade Flutterando e acredito ser viável para essa proposição.

[2020-07-03 19:33] ShadyBoukhary commented on #35
I'm going to implement a CLI very soon.

[2020-07-31 11:54] ZeBigDuck opened #44 "How to use Provider in Controller ?"
Hi!

I'd like to use providers I declared un runApp() function.
How may I get these in Presenter ?

Thanks

[2020-07-31 14:23] ShadyBoukhary commented on #44
Hi,

I don't know if I would advise doing this as the providers resemble controllers and shouldn't be used inside presenters, but if you really want that, you would have to pass that provider through the View -> Controller -> Presenter.

[2020-07-31 14:55] ZeBigDuck commented on #44
Thank you for your answer.

In fact I want my presenter to use a GetProductCategoriesUseCase which have a repository accessible through Provider.

[code]

But this ends up with the following error :

[code]

[2020-07-31 15:19] ShadyBoukhary commented on #44
Can you also send the View and Presenter?

Thanks

[2020-07-31 16:33] ZeBigDuck commented on #44
Here they are, I mostly just replaced User from example code (https://github.com/ShadyBoukhary/flutter_clean_architecture/tree/master/example/lib/src/app/pages/home) by ProductCategory.

[code]

[code]

Thank you for your time

[2020-07-31 17:32] ShadyBoukhary commented on #44
Hey,

You can't get the context inside `initListeners()`. This method is called before the `View`'s build is called. It's failing to the get the context because no context has been created yet. You need to have the View provide the repository to the controller, because you need the context to do so, this would have to be done somewhere inside the view where the context is available, such as the bu

[2020-07-31 18:14] ZeBigDuck commented on #44
Thank you very much I got it working this way.

[code]

[code]
[code]

[2020-07-31 18:15] #44 closed

[2020-09-21 16:03] WilliamCunhaCardoso opened #45 "Add listen param to getController"
**Describe the bug**
I was testing a controller call outside build and I was facing a provider error. It was requesting me to use listen false on provider call method, but getController does not provide this to me. So I decided to PR it

**To Reproduce**
Steps to reproduce the behavior:
1. Call getController outside build method in a stateful widget

**Expected behavior**
Provider error about list

[2020-09-21 16:14] ShadyBoukhary commented on #45
Merged #46

[2020-09-21 16:14] #45 closed

[2020-09-23 14:34] rafaelcmm opened #47 "[Flutter Web] Improve responsivity"
**Describe the solution you'd like**
Improve responsivity using Responsive Builder

[2020-09-24 19:32] ShadyBoukhary commented on #47
Related to #43

[2020-09-24 20:17] #47 closed

[2020-09-24 20:17] #43 closed

[2020-09-27 07:07] gemilangpermata opened #49 "How to get controller in v4"
Hi, nice work here.

One question, how to get controller getter in v4 since it was removed? I want to get the controller in initState of view.

[2020-09-27 21:47] RafaelPlantard commented on #49
+1

[2020-09-27 22:04] ShadyBoukhary commented on #49
@rafaelcmm

[2020-09-27 23:34] rafaelcmm commented on #49
Hi, I just submitted a pull request that will fix this request.

For resume, I'm adding a way to get access to controller on `initState` lifecycle. For that, just implement over `initViewState` and do what you want with the injected controller.

The main goal of the removal of `controller` from the `ViewState` was to prevent "bad" usage of the controller, and to be able to remove the full re-rende

[2020-09-27 23:51] #49 closed

[2020-09-28 00:28] RafaelPlantard commented on #49
@rafaelcmm is there a better place to put `AnimationController`? Like this example: https://github.com/ShadyBoukhary/Axion-Technologies-HnH/blob/7ebb03e9c0511f1ec2649d6bdd123318ada191d5/lib/app/pages/splash/splash_view.dart

For example, to avoid using `initViewState` how can I put it in my `Controller`?

[2020-09-28 01:28] rafaelcmm commented on #49
You can try do something like this:

1. Declare those inside `splash_controller`
[code]

2. Then on `initViewState`
[code]

3. Wrap your animated widget inside a `ControllerWidgetBuilder`
[code]

4. Now, on your `initAnimation`
[code]

To resume what is being done:

- Defining animation inside the controller, where it will be manipulated
- Wraps the animated widget inside the `ControlledWidgetBuil

[2020-09-28 01:46] RafaelPlantard commented on #49
I'll try it!

[2020-10-02 11:57] WilliamCunhaCardoso opened #51 "Implement didViewChangeDependencies"
There is `initViewState(Controller controller)` which is an approach for using `initState` with controller. But there is nothing to  `didChangeDependencies`

So, at least for `ResponsiveView,` there should be a `didViewChangeDependencies(Controller controller)`

[2020-10-12 15:55] #51 closed

[2020-12-17 12:33] joaopereirajp opened #55 "deactivate() Lifecycle"
Could we add the deactivate() lifecycle on controller?

[2020-12-17 15:18] rafaelcmm commented on #55
Hi @joaopereirajp! This may be solved by this PR: https://github.com/ShadyBoukhary/flutter_clean_architecture/pull/56

Please take a look.

[2021-01-05 20:29] rafaelcmm commented on #55
Solved on 4.0.4

[2021-01-05 20:29] #55 closed

[2021-01-11 15:36] WilliamCunhaCardoso opened #58 "Provider outdated"
Saw on your `pubspec.yaml` that provider is outdated.
Your import: `provider: ^4.0.1`
provider package: `provider 4.3.2+3 `

[2021-01-11 15:37] WilliamCunhaCardoso commented on #58
Also, your `rxdart` is under `rxdart: ^0.24.1` where the package is `rxdart 0.25.0`

[2021-01-11 18:12] WilliamCunhaCardoso commented on #58
I mage a PR for it
-> https://github.com/ShadyBoukhary/flutter_clean_architecture/pull/59

[2021-01-14 18:29] WilliamCunhaCardoso commented on #58
fixed by https://github.com/ShadyBoukhary/flutter_clean_architecture/pull/59

[2021-01-14 18:29] #58 closed

[2021-01-19 15:06] raphaaugustosilva commented on #35
Do you have an update about the CLI development? Thanks!

[2021-01-27 13:02] aiiv opened #60 "Hot reload"
**When I execute hot reload, all events will be executed twice**

log：
2021-01-27 20:56:27.049 18460-18565 I/flutter: _TabLayoutViewState: INFO: _TabLayoutViewState reassemble
2021-01-27 20:56:27.049 18460-18565 I/flutter: _TabLayoutViewState: INFO: _TabLayoutViewState reassemble
2021-01-27 20:56:27.053 18460-18565 I/flutter: _MatchPageState: INFO: _MatchPageState reassemble
2021-01-27 20:56:27.05

[2021-01-27 16:26] #60 closed

[2021-01-27 16:28] aiiv commented on #60
Is caused by the log

[2021-01-28 02:10] limcheekin opened #61 "Web support?"
Thanks for published the owesome flutter package, I find out from https://pub.dev/packages/flutter_clean_architecture that it is not support "Web" yet. May I know anything blocking it to support flutter web?

[2021-02-05 01:15] javier-mora opened #62 "Controller in PreferredSizeWidget"
Is there a way to access the controller from the AppBar? It is not possible to use **ControlledWidgetBuilder** as it returns a **Widget** and AppBar requires a **PreferredSizeWidget**

Example:
[code]
Valid case:
[code]
but if I wanted to get the background color from the controller I would have to:
[code]
and this is invalid because AppBar requires a **PreferredSizeWidget**

[2021-02-11 15:34] vadimlukutin opened #63 "How correctly get BuildContext from controller?"
For navigation I need get BuildContext from Controller.

[2021-03-01 21:05] suchoX commented on #49
AnimationController requires vsync though

[2021-03-02 03:39] rafaelcmm commented on #63
Hi @vadimlukutin!

You can get access of `BuildContext` using Controller's method `getContext()`.

It can be used in most of the `Controller` lifecycles.

Hope this answers your question, feel free to re-open this issue if you need

[2021-03-02 03:39] #63 closed

[2021-03-02 03:48] rafaelcmm commented on #62
Hi @javier-mora!

Thanks for the notice. You can achieve it in some ways.

1. You can encapsulate your `View` inside the controlled widget builder (although this is not very optimal, but it works depending on your necessity)

[code]

2. You can create your own AppBar widget extending `AppBar` or `PreferredSizeWidget` and consuming the controller inside it using `FlutterCleanArchitecture.getControl

[2021-03-02 03:50] rafaelcmm commented on #61
Hi @limcheekin!

Yes, `flutter_clean_architecture` works plenty on web! I have some web projects myself!

This is probably some documentation issue that can be easily fix on `pubspec.yaml`.

Feel free to submit a pull request fixing it, we would love it!

If you can't I will happily fix it as soon as I can.

Thanks for let us know!

[2021-03-02 05:57] limcheekin commented on #61
thanks for confirmation. I not sure how to fix it.

[2021-03-04 18:51] rafaelcmm commented on #61
@limcheekin You can use this package on web as you like.

Although, the only thing that will not work on web is `BackgroundUseCase` feature, since dart:isolate is not supported on web.

All the other features are working, so you are good to go if you don't need this.

I'm working on a `null safety` version, and as long as flutter is updating, maybe we find a way to support something like isolate o

[2021-03-04 18:51] #61 closed

[2021-03-04 18:54] #62 closed

[2021-03-12 03:17] limcheekin opened #65 "Web support for BackgroundUseCase"
I think it is a waste when flutter developers walk away from the flutter_clean_architecture package due to many think that it doesn't support web.

I just come across the following package which might enable background processing support in web:
https://pub.dev/packages/worker_manager

Hopefully, we'll see full web support for the flutter_clean_architecture package soon.

Good Friday! :)

[2021-03-12 03:17] limcheekin opened #66 "Web support for BackgroundUseCase"
I think it is a waste when flutter developers walk away from the flutter_clean_architecture package due to many think that it doesn't support web.

I just come across the following package which might enable background processing support in web:
https://pub.dev/packages/worker_manager

Hopefully, we'll see full web support for the flutter_clean_architecture package soon.

Good Friday! :)

[2021-03-12 03:18] limcheekin commented on #66
closed due to double submission

[2021-03-12 03:18] #66 closed

[2021-03-13 14:49] vadimlukutin opened #67 "Cant add AppBar via ControlledWidgetBuilder.builder"
**Have error if add App Bar via ControlledWidgetBuilder.builder.**

final result = Scaffold(

[code]

**Error log:**

`error: The argument type 'ControlledWidgetBuilder<CategoryGroupListController>' can't be assigned to the parameter type 'PreferredSizeWidget'. (argument_type_not_assignable at [project_name] lib/project_name/fca/app/pages/category/category_group_list/category_group_list_view.dart:

[2021-03-22 12:18] 7snalbar opened #68 "One Controller for multiple pages"
My issue is simple

I have one controller that will serve three or more different views, when I navigate between pages the values in the controller are reset! has anyone been able to achieve the above? if yes, how?

[2021-03-22 15:20] ShadyBoukhary commented on #68
Hi,

how did you implement this? You should be able to initialize the controller higher up the tree than the views that are using it. Then the values would not be reset. It sounds like you’re using 2 different instances of the controller. The 2 views should share the same instance.

[2021-03-28 19:44] CROSP opened #69 "RefreshUI and setState"
First of all, thank you for the library and spreading the Clean Architecture concept.
It is unclear for me what should I do when I need UI to react to the change of a variable.
For example the `isLoading` flag is triggered when a network call is executed, should I call the `refreshUI` method every time? Does this approach have any side effects related to performance?

I've also tried the following

[2021-04-05 03:20] ShadyBoukhary commented on #69
You can use  ControlledWidgetBuilder and refreshUI(). Please refer to the README for examples.

refreshUI will only refresh the widgets that are affected. This is the way this library handles state. It uses the Provider package internally.

Thanks

[2021-04-05 03:20] #69 closed

[2021-04-05 03:25] ShadyBoukhary commented on #35
I'm only very rarely working on this library anymore since i'm working full time and @rafaelcmm 's team have been maintaining this library for the most part. It's unlikely that i'll have time to make a CLI as it's only a minor improvement. Anyone willing to build that should feel free to do so. It will be appreciated.

Shady

[2021-04-05 03:30] ShadyBoukhary commented on #65
Would this also work on mobile (non-web)?

[2021-04-05 03:34] ShadyBoukhary commented on #67
Seems like `PreferredSizeWidget` should be used as a mixin with ControlledWidget. We don't currently do that. You can inherit from the the ControlledWidgetBuilder and have it return a ControlledWidget that also inherits from PreferedSizeWidget. Feel free to add it to the library via a pull request or maybe @rafaelcmm would be willing to add this. It should be relatively straightforward.

[2021-04-05 05:33] limcheekin commented on #65
I think yes, but I think it is not fully support web yet, just digged out this issue https://github.com/Renesanse/worker_manager/issues/16

[2021-04-05 05:35] limcheekin commented on #65
It is limited support web at the moment according to this issue https://github.com/Renesanse/worker_manager/issues/5

[2021-04-18 15:54] monolidth opened #70 "Question: Same controller in multiple widgets"
Hey,
thanks for this project.
I started refactoring my [application](https://github.com/ReceiptManager/receipt-manager-app) and I use a Form Widget which I use in multiple pages. My current implementation is the following:

##  The pages

### History page
[code]

### Home page
[code]

## The form

[code]

However, if call my edit method (defined in the HistoryController):
[code]

I receive followi

[2021-04-28 08:33] aditya-nahak commented on #70
I'm facing the same issue!

[2021-04-28 08:34] aditya-nahak commented on #70
Did you find a solution @monolidth ?

[2021-04-28 16:49] ShadyBoukhary commented on #70
Where is the InputForm used? If you want to use the HomeController inside the InputForm, you need to make sure the HomeController exists in a widget that is above the InputForm. Can you provide more information?

[2021-04-29 08:36] monolidth commented on #70
Well, I use the input form in the HomeWidget and HistoryWidget, I don't know how to create a shared controller?

[2021-04-29 15:12] ShadyBoukhary commented on #70
Didn’t mean to close this

[2021-04-29 15:17] ShadyBoukhary commented on #70
Do the HistoryWidget and HomeWidget share the same controller? You can create a parent widget (parent of HistoryWidget and HomeWidget), and that widget would use the shared controller. In all children widgets (History, Home, Input), you use the Flutter.getController method to retrieve it.

Depending on your use case there might be other ways to do this. You can create a controller for the InputWid

[2021-05-02 07:30] monolidth commented on #70
Thanks, that helps :)

[2021-05-02 07:30] #70 closed

[2021-05-30 10:33] michael-martinez opened #72 "Error when migrating from flutter_clean_architecture ^3.0.2 to ^5.0.0"
I want to upgrade my package version from version 3.0.2 to 5.0.0.

I noticed the view getter changed so I performed the following change to my codebase:

[code]

I had access to the `controller` variable in my views.
Now that I don't have it I retrieve it using:
`var controller = FlutterCleanArchitecture.getController<HomeController>(context);`

But when running my application I am getting the fol

[2021-06-15 08:52] namhuman opened #73 "[Question] About initViewState() migration"
Hi,
First of all, Thank you for creating this library!

I was using v4.0.1 and I'm migrating my app codes to latest version.

I used initViewState() like this:

[code]

but after v4.0.4, View can't access its controller on InitState() because initViewState() was removed.
so if I want to pass some datas (like navigation params) to controller on init timing  and execute usecase using this datas, sho

[2021-06-19 09:52] limcheekin opened #74 "[Question] How do I write test for the controller or presenter class?"
Hi there,

As I couldn't found any code example, hence I created this issue to raise my question.

I not sure whether it is more appropriate to write tests for the controller class or the presenter class.
Appreciate if you can share a code example on how to do so.

Thank you.

[2021-07-12 16:05] rafaelcmm commented on #73
This approach LGTM if this follows your project patterns.

In our case here, we avoid to add parameters on page constructors. If any data is needed to be consumed on page, is passed as a navigation argument to be consumed on controller.

Feel free to use any strategy that looks cleaner on your project

[2021-07-12 16:05] #73 closed

[2021-07-12 16:10] rafaelcmm commented on #72
Hi Michael,

Yes there is breaking changes related to that between those two versions.

To follow single-responsibility principle, the controller is not accessible anymore as a view variable, as the same as its event controllers.

To add on a view a part of widget that needs to be controllable, you can use `ControlledWidgetBuilder` as described in the docs.

This ensures that, once you request an

[2021-07-12 16:10] #72 closed

[2021-07-12 16:14] rafaelcmm commented on #67
@vadimlukutin seems to be like: https://github.com/ShadyBoukhary/flutter_clean_architecture/issues/62#issuecomment-788558161

Please take a look and check if this solves your issuel.

[2021-07-12 16:15] #67 closed

[2021-08-05 10:13] vadimlukutin opened #75 "If try add block isolate I have error"
Because every version of isolate_bloc depends on provider ^4.3.1 and flutter_clean_architecture 5.0.0 depends on provider ^5.0.0, isolate_bloc is incompatible with flutter_clean_architecture 5.0.0.
And because no versions of flutter_clean_architecture match >5.0.0 <6.0.0, isolate_bloc is incompatible with flutter_clean_architecture ^5.0.0.
So, because be_logist depends on both flutter_clean_archit

[2021-09-02 07:17] stefanoBavest opened #76 "refreshUI() doesn't work with Shared Controller."
# Description
Firstly, thank you for this project. It's really useful in my project.
Coming to the issue, I am trying to implement a shared controller and presenter with multiple views.
Each view has its own controller and presenter as well.
I had referred to an earlier issue and the example provided as well:
https://github.com/ShadyBoukhary/flutter_clean_architecture/issues/15

I have created a s

[2021-09-25 01:24] ShadyBoukhary commented on #74
You typically wouldn’t write tests for controller and presenter classes, since your logic should exist inside the domain module. You should be writing tests for the domain and your data providers

[2021-09-25 01:25] #68 closed

[2021-09-25 01:27] ShadyBoukhary commented on #74
Here are some samples
https://github.com/ShadyBoukhary/Axion-Technologies-HnH/tree/development/test/unit_tests

[2021-09-25 01:28] ShadyBoukhary commented on #75
Sorry for the late response. Where you able to resolve this?

[2021-10-16 06:59] vadimlukutin opened #78 "Can u update to support flutter_bloc >=7.2.0"
Because flutter_bloc >=7.2.0 depends on provider ^6.0.0 and flutter_clean_architecture 5.0.0 depends on provider ^5.0.0, flutter_bloc >=7.2.0 is incompatible with flutter_clean_architecture 5.0.0.
And because no versions of flutter_clean_architecture match >5.0.0 <6.0.0, flutter_bloc >=7.2.0 is incompatible with flutter_clean_architecture ^5.0.0.
So, because balance3d depends on both flutter_clean

[2021-12-26 17:46] dcdh opened #79 "Unable to override `initState` on ViewState"
**Describe the bug**
I am unable to override initState in ViewState to properlly handle animation.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an implementation of ViewState likes it is done here https://github.com/ShadyBoukhary/Axion-Technologies-HnH/blob/development/lib/app/pages/splash/splash_view.dart#L24
2. Override the method `initState`
3. This message is displayed: `The me

[2021-12-26 18:05] dcdh commented on #79
We should expose _controller to from view.dart.

[2022-01-25 02:06] ShadyBoukhary commented on #78
@vadimlukutin feel free to open a pull request and i will merge it

[2022-01-25 02:07] ShadyBoukhary commented on #79
Feel free to open a pull request

[2022-01-25 02:23] #74 closed

[2022-03-01 06:43] DK070202 opened #82 "How to avoid rebuild in components."
1.How can we void extra build in components like in case of our example we are using ElevatedButton to fire just getuser
while we do that it gets rebuild. Can we build a another builder that only trigger but not build subtree under it?

[2022-03-14 00:36] spendres opened #83 "Migrate to support 2.10.3"
1. Need to migrate the example for null safety.
Version 5.0.2 example wouldn't build for me on the most recent version of Flutter.

I worked through roughly ten issues involving null safety and deprecated APIs and the example now builds and tests pass. Version 5.0.2 created a domain dependency on flutter that this update corrects – but would like a more clear boundary between flutter and dart. Als

[2022-07-11 18:48] #82 closed

[2022-07-17 14:19] bssughosh opened #84 "Update to flutter 3.0"
**Describe the bug**
WidgetsBinding: Warning: Operand of null-aware operation '!' has type 'WidgetsBinding' which excludes null.

**To Reproduce**
Steps to reproduce the behavior:
1. Update to latest flutter version (3.0.5)
2. Run the app
3. A warning is thrown

**Expected behavior**
This warning can be avoided for now but should be updated

**Library (please complete the following information):**

[2022-07-17 14:30] bssughosh commented on #84
@ShadyBoukhary can I pick this up?

[2022-07-17 14:54] bssughosh commented on #84
https://github.com/ShadyBoukhary/flutter_clean_architecture/pull/85

[2022-08-06 05:29] bssughosh commented on #84
@ShadyBoukhary Once the update is live u could close this too

[2022-08-06 05:46] ShadyBoukhary commented on #83
I think this has been resolved.

[2022-08-06 05:46] #83 closed

[2022-08-06 05:55] #84 closed

[2022-08-06 05:57] ShadyBoukhary commented on #84
#85

[2022-08-26 13:19] rafaelcmm commented on #79
@dcdh just use `onInitState` replacement life cycle

[2022-08-26 13:19] #79 closed

[2022-09-20 19:06] ortegaxc commented on #70
@ShadyBoukhary
It is possible to declare the controllers in the main to be able to call them from anywhere with FlutterCleanArchitecture.getController?. I get this error when using FlutterCleanArchitecture.getController.

Error: Could not find the correct Provider<PatientController> above this Consumer<PatientsListController> Widget

[2022-09-20 21:06] ShadyBoukhary commented on #70
Where do you mean exactly? You have to declare at the same level or an above level. You can go as high as you can. When a controller is linked to a widget, any children widgets can access it. You can create a top level widget and declare the controller there, then any child widget can access it with the getController method

[2022-11-05 03:19] pishguy opened #86 "integrating with Riverpod"
i'm sure it's possible to integrate this library with `Riverpod` but my question is about is there any sample code to know how can do that?

Thanks